<div class="app-backgroud-color" name="farmer-registration-form">
    <div class="p-0 w-100">
        <i class="fa fa-times fs-4 float-end pe-1" (click)="closeRegistrationModel()" role="button"></i>
    </div>
    <div class="row border-bottom">
        <div class="col-md-12 text-center fs-4 fw-bold pt-2">
            {{labelConstants.FARMER_REGISTRATION}}
        </div>
        <div class="col-md-12 text-center fs-5 pt-2" [ngClass]="isRegistrationError ? 'text-danger' : 'text-success'">
            {{registrationMsg}}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center pt-2">
            <div class="">
                <img [src]="profileImageUrl ?? '/assets/user.png'" class="w-25 rounded-circle">
                <input type="file" id="imageUpload" accept="image/*" style="display: none;"
                    (change)="onFileSelected($event)" #fileInput>

                <div class="pt-1">
                    <i class="fa-solid fa-cloud-arrow-up fs-5 text-primary" role="button"
                        [matTooltip]="labelConstants.UPLOAD_IMAGE" matTooltipPosition="below"
                        (click)="fileInput.click()"></i>
                </div>
            </div>
        </div>
    </div>

    <form #registrationForm="ngForm" class="p-3">
        <!-- Name -->
        <div class="form-group mb-3">
            <label class="fw-bold">{{labelConstants.NAME}}</label><em class="text-danger">*</em>
            <input type="text" class="form-control" name="name" [placeholder]="labelConstants.ENTER_NAME_MSG"
                [(ngModel)]="farmer.name" required />
            <div class="text-danger" *ngIf="registrationForm.submitted && !farmer.name">
                {{labelConstants.NAME_REQUIRED_MSG}}
            </div>
        </div>

        <!-- Mobile Number -->
        <div class="form-group mb-3">
            <label class="fw-bold">{{labelConstants.MOBILE_NUMBER}}</label><em class="text-danger">*</em>
            <input type="tel" class="form-control" name="mobile" [placeholder]="labelConstants.ENTER_MOBILE_NUMBER_MSG"
                [(ngModel)]="farmer.mobileNumber" pattern="^[0-9]{10}$" required #mobileInput="ngModel" />
            <div class="text-danger" *ngIf="registrationForm.submitted && !farmer.mobileNumber">
                {{labelConstants.MOBILE_NUMBER_REQUIRED_MSG1}}
            </div>
            <div class="text-danger" *ngIf="farmer.mobileNumber && !mobileInput.valid">
                {{labelConstants.MOBILE_NUMBER_REQUIRED_MSG2}}
            </div>
        </div>

        <!-- Gmail -->
        <div class="form-group mb-3">
            <label class="fw-bold">{{labelConstants.EMAIL}}</label><em class="text-danger">*</em>
            <input type="email" class="form-control" name="email" [placeholder]="labelConstants.ENTER_EMAIL_MSG"
                [(ngModel)]="farmer.email" required #emailInput="ngModel" />
            <div class="text-danger" *ngIf="registrationForm.submitted && !emailInput.valid">
                {{labelConstants.EMAIL_NOT_VALID_MSG}}
            </div>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
            <label class="fw-bold">{{labelConstants.PASSWORD}}</label><em class="text-danger">*</em>
            <input type="password" class="form-control" name="password"
                [placeholder]="labelConstants.ENTER_PASSWORD_MSG" [(ngModel)]="farmer.password" required
                minlength="6" />
            <div class="text-danger" *ngIf="registrationForm.submitted && !farmer.password">
                {{labelConstants.PASSWORD_REQUIRED_MSG}}
            </div>
        </div>


        <button [disabled]="!registrationForm.valid" (click)="resetFarmerRegistration()"
            class="btn btn-danger float-end mb-2"><i
                class="fa-solid fa-rotate-left text-light"></i>&nbsp;{{labelConstants.RESET}}</button>
        <!-- Submit Button -->
        <button [disabled]="!registrationForm.valid" (click)="onSubmitFarmerRegistration()"
            class="btn btn-success float-end mb-2 me-2"><i
                class="fa-solid fa-floppy-disk text-light"></i>&nbsp;{{labelConstants.REGISTER}}</button>
    </form>
</div>