<div class="row g-0 h-100">
    <!-- Sidebar / User List -->
    <div class="col-md-3 border-end bg-light">
        <mat-toolbar color="primary">QuickConvo</mat-toolbar>
        <mat-list>
            <mat-list-item *ngFor="let user of users" (click)="selectUser(user)">
                <i class="fa-solid fa-user fs-6 bg-success user-icon"></i>&nbsp;<span>{{ user.name }}</span>
            </mat-list-item>
        </mat-list>
    </div>

    <!-- Chat Area -->
    <div class="col-md-9 d-flex flex-column">
        <mat-toolbar color="primary">{{ selectedUser?.name || 'Select a user' }}</mat-toolbar>

        <div class="flex-grow-1 p-3 overflow-auto" style="background: #f9f9f9;" id="chatWindow">
            <div *ngFor="let msg of messages">
                <div [ngClass]="{ 'text-end': msg.sender === currentUser }">
                    <mat-card
                        [ngClass]="{ 'bg-primary text-white': msg.sender === currentUser, 'bg-light': msg.sender !== currentUser }"
                        class="d-inline-block my-1 px-3 py-2 rounded">
                        {{ msg.text }}
                    </mat-card>
                </div>
            </div>
        </div>

        <!-- Input Area -->
        <div class="p-3 border-top bg-white">
            <div class="row g-2 align-items-center">
                <div class="col-10 col-sm-11">
                    <input class="form-control" matInput placeholder="Type a message" [(ngModel)]="newMessage"
                        name="message" required>
                </div>
                <div class="col-2 col-sm-1 text-center">
                    <i class="fa-solid fa-paper-plane fs-4 p-2" [class.text-success]="newMessage"
                        [class.text-muted]="!newMessage" [class.disabled]="!newMessage" role="button"
                        [style.pointer-events]="newMessage ? 'auto' : 'none'" (click)="newMessage && sendMessage()">
                    </i>
                </div>
            </div>
        </div>

    </div>
</div>