html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Optional: prevents scrollbars */
}

.user-icon {
    padding: 8px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 16px;
  }
  