<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active text-dark" aria-current="page"><i
                class="fa-solid fa-list"></i>&nbsp;&nbsp;Crop Listing</li>
    </ol>
</nav>

<div class="row pb-4">
    <div class="col-md-12 col-sm-12">
        <button class="btn btn-success float-end" (click)="addNewCrop(undefined)"><i
                class="fa-solid fa-plus"></i>&nbsp;Add New
            Crop</button>
    </div>
</div>

<div class="mat-elevation-z8 table-responsive" [hidden]="!dataSource.data || dataSource.data.length <= 0">
    <table class="w-100" mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef> #Sl.No </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cropName">
            <th mat-header-cell *matHeaderCellDef> Crop Name </th>
            <td mat-cell *matCellDef="let element"> {{element.cropName}} </td>
        </ng-container>

        <!-- Place Column -->
        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef> Place </th>
            <td mat-cell *matCellDef="let element"> {{element.village}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}}&nbsp;{{element.measure}} </td>
        </ng-container>

        <!-- Quality Column -->
        <ng-container matColumnDef="quality">
            <th mat-header-cell *matHeaderCellDef> Quality </th>
            <td mat-cell *matCellDef="let element"> {{element.quality}} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
                <i class="fa-solid fa-pen text-success" role="button" (click)="editCrop(element)"></i>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <i class="fa-solid fa-trash text-danger" role="button" (click)="deleteCrop(element)"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


<div class="text-center fs-5" *ngIf="!dataSource.data || dataSource.data.length <= 0">Start adding your crops today and
    let others discover them, click on&nbsp;<strong>"Add New Crop"</strong></div>