<div class="container-fluid app-backgroud-color">

    <!-- Header -->
    <div class="row align-items-center py-3 header-background-color text-center text-md-start">
        <div class="col-12 col-md-4 text-center">
            <h1>AGRI BID</h1>
        </div>

        <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-end mt-3 mt-md-0 gap-4">
            <h5 class="mb-0">Home</h5>
            <h5 class="mb-0">About</h5>
            <h5 class="mb-0">Contact</h5>
            <h5 class="mb-0">
                <a routerLink="/login" class="anchor-tag-styling-desable">Login</a>
            </h5>
        </div>
    </div>

    <!-- Hero Image Section -->
    <div class="home-page-image d-flex flex-column justify-content-center align-items-center text-center px-3 py-5">
        <h2 class="display-6 mb-4">Empowering Farmers. Fair Prices. Transparent Bidding.</h2>

        <div class="d-flex flex-wrap justify-content-center gap-3">
            <button class="btn btn-success px-4 py-2">
                <h5 class="mb-0">Register as Farmer</h5>
            </button>
            <button class="btn btn-light px-4 py-2">
                <h5 class="mb-0">Register as Buyer</h5>
            </button>
        </div>
    </div>


    <!-- Feature Section -->
    <div class="row text-center py-5">
        <div class="col-12 mb-4">
            <h2>Feature Section</h2>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="bi bi-clock home-page-icons-size d-block mb-2"></i>
            <strong>Real-time Bidding</strong><br>
            <small>Participate in live auctions with instant updates.</small>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="fa-solid fa-wheat-awn home-page-icons-size d-block mb-2"></i>
            <strong>Crop Listings</strong><br>
            <small>Farmers can list their produce with detailed information.</small>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="bi bi-shield-check home-page-icons-size d-block mb-2"></i>
            <strong>Secure Payments</strong><br>
            <small>Ensuring safe and easy transactions for all users.</small>
        </div>
    </div>

</div>