.home-page-image {
    background-image: url('/assets/crop_image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
    color: white;
  }
  