<div class="container-fluid app-backgroud-style">

    <!-- Header -->
    <div class="row align-items-center py-3 header-background-color text-center text-md-start">
        <div class="col-12 col-md-4 text-center home-page-icons-size">AGRI BID
        </div>

        <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-end mt-3 mt-md-0 gap-4">
            <div class="mb-0 fs-4">Home</div>
            <div class="mb-0 fs-4">About</div>
            <div class="mb-0 fs-4">Contact</div>
            <div class="mb-0 fs-4">
                <a routerLink="/login" class="anchor-tag-styling-desable">Login</a>
            </div>
        </div>
    </div>

    <!-- Hero Image Section -->
    <div class="home-page-image d-flex flex-column justify-content-center align-items-center text-center px-3 py-5">
        <!-- <h1 class="display-6 mb-4 text-color-1">Empowering Farmers. Fair Prices. Transparent Bidding.</h1> -->

        <div class="d-flex flex-wrap justify-content-center gap-3">
            <button class="btn btn-success px-4 py-2" (click)="openFarmerRegistrationForm()">Register as Farmer</button>
            <button class="btn btn-light px-4 py-2" (click)="openBuyerRegistrationForm()">Register as Buyer</button>
        </div>
    </div>


    <!-- Feature Section -->
    <div class="row text-center py-5">
        <div class="col-12 mb-4">Feature Section
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="bi bi-clock home-page-icons-size d-block mb-2"></i>
            <strong>Real-time Bidding</strong><br>
            <small>Participate in live auctions with instant updates.</small>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="fa-solid fa-wheat-awn home-page-icons-size d-block mb-2"></i>
            <strong>Crop Listings</strong><br>
            <small>Farmers can list their produce with detailed information.</small>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <i class="bi bi-shield-check home-page-icons-size d-block mb-2"></i>
            <strong>Secure Payments</strong><br>
            <small>Ensuring safe and easy transactions for all users.</small>
        </div>
    </div>
</div>