<div class="app-backgroud-color">

    <!-- Header starts -->
    <div class="row header-background-color">
        <div class="col-md-4 col-sm-4 text-center">
            <h1>AGRI BID</h1>
        </div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-1 col-sm-1 pt-3">
            <h4>Home</h4>
        </div>
        <div class="col-md-1 col-sm-1 pt-3">
            <h4>About</h4>
        </div>
        <div class="col-md-1 col-sm-1 pt-3">
            <h4>Contact</h4>
        </div>
        <div class="col-md-1 col-sm-1 pt-3">
            <h4>
                <a routerLink="/login" class="anchor-tag-styling-desable">Login</a>
            </h4>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
    <!-- Header Ends -->

    <!-- Image Content start -->
    <div class="row home-page-image">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8 text-center text-size pt-4 pb-4">
            Empowering Farmers. Fair Prices. Trasparent Bidding.
        </div>
        <div class="col-md-2 col-sm-2"></div>
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-4 col-sm-4 text-center">
                <button class="button-stylign-1 rounded ps-4 pe-4 pt-2 pb-2">
                    <h4>Register as Farmer</h4>
                </button>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <button class="btn-light rounded ps-4 pe-4 pt-2 pb-2">
                    <h4>Register as Buyer</h4>
                </button>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
    <!-- Image Content start -->

    <!-- Feature Section Starts -->
    <div class="row pt-4">
        <div class="col-md-12 col-sm-12 text-center pb-2">
            <h2>Feature Section</h2>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <b><i class="bi bi-clock home-page-icons-size"></i></b><br>
            <span><b>Real-time Bidding</b></span><br>
            <span>Participate in live auctions with instant updates.</span>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <b><i class="fa-solid fa-wheat-awn home-page-icons-size pt-3"></i></b><br>
            <span><b>Crop Listings</b></span><br>
            <span>Farmers can list their produce with detailed information.</span>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <b><i class="bi bi-shield-check home-page-icons-size"></i></b><br>
            <span><b>Secure Payments</b></span><br>
            <span>Ensuring safe and easy transactions for all users.</span>
        </div>
    </div>
    <!-- Feature Section Starts -->

</div>